:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.618;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.618em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.1618em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1.618rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1.618em;
}
.nav-item {
  display: inline-block;
  margin-right: 1.618em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 618;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1618em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.618em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.618em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1.618em 0.618em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
.invis {
  visibility: hidden;
  text-decoration: rgba(255, 255, 255, 0);
}
/*======================================
	Header CSS
========================================*/
/*===== NAVBAR =====*/
.navbar-area {
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
  position: absolute;
}
.header.index2 .navbar-area {
  background-color: transparent;
  position: absolute;
  z-index: 99;
}
.header.index2 .sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 0;
}
.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 0;
}
.sticky .navbar .navbar-nav .nav-item a {
  color: #333;
}
.sticky .navbar .navbar-nav .nav-item a.active {
  color: #3763eb;
}
.sticky .navbar .navbar-toggler .toggler-icon {
  background: #333;
}
.navbar {
  padding: 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 17px 0;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 17px 0;
  }
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  width: 150px;
}
.navbar-toggler {
  padding: 0;
}
.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #333;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}
@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(29, 42, 93, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(29, 42, 93, 0.1);
    padding: 5px 12px;
  }
}
.navbar-nav .nav-item {
  position: relative;
  margin-left: 38px;
}
.navbar-nav .nav-item a {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 30px 0;
  position: relative;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: #5e678c;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: #5e678c;
  }
}
.navbar-nav .nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #3763eb;
  z-index: -1;
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 5;
}
.navbar-nav .nav-item a::before {
  width: 0%;
  left: 0;
}
.navbar-nav .nav-item a::after {
  width: 20%;
  right: 0;
}
.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a.active {
  color: #3763eb;
}
.navbar-nav .nav-item:hover a:before,
.navbar-nav .nav-item a.active::before {
  opacity: 1;
  width: 30px;
}
.header .navbar-nav li .sub-menu li a.active {
  background-color: #3763eb !important;
  color: #fff !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a:hover::after,
  .navbar-nav .nav-item a:hover::before,
  .navbar-nav .nav-item a.active::after,
  .navbar-nav .nav-item a.active::before {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item a:hover::after,
  .navbar-nav .nav-item a:hover::before,
  .navbar-nav .nav-item a.active::after,
  .navbar-nav .nav-item a.active::before {
    opacity: 1;
  }
}
.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.navbar-nav .sub-nav-toggler {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}
.header {
  position: relative;
}
/* Header Button */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .button {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .header .button {
    display: none !important;
  }
}
.header .button .btn {
  color: #3763eb;
  padding: 12px 25px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #fff;
  border: 1px solid #f4eefb;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header .button .btn:hover {
  color: #fff;
  background-color: #3763eb;
  border-color: transparent;
}
/* Dropdown Menu */
.header .navbar-nav li .sub-menu {
  background: #fff;
  width: 220px;
  text-align: left;
  position: absolute;
  top: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  padding: 15px;
  left: 0;
  margin: 0;
  -webkit-box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
  box-shadow: 0px 13px 20px rgba(153, 153, 153, 0.06);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 9999999;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scaleY(0.2);
  transform: scaleY(0.2);
  border-radius: 0 0 3px 3px;
}
.header .navbar-nav li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.header .navbar-nav li .sub-menu li {
  float: none;
  margin: 0;
  display: block;
  margin-bottom: 6px;
}
.header .navbar-nav li .sub-menu li:last-child {
  margin-bottom: 0px;
}
.header .navbar-nav li .sub-menu li:last-child {
  border: none;
}
.header .navbar-nav li .sub-menu li a {
  padding: 10px 15px;
  color: #666;
  display: block;
  font-size: 13px;
  font-weight: normal;
  text-transform: capitalize;
  background: transparent;
  border-radius: 3px;
}
.header .navbar-nav li .sub-menu li a:before {
  display: none;
}
.header .navbar-nav li .sub-menu li a:hover:before {
  opacity: 1;
  visibility: visible;
}
.header .navbar-nav li .sub-menu li:last-child a {
  border-bottom: 0px;
}
.header .navbar-nav li .sub-menu li:hover a {
  color: #fff;
  background: #3763eb;
}
.header .button {
  display: inline-block;
  margin-left: 45px;
}
.header .button .btn {
  width: 150px;
  padding: 13px 10px;
}
.button .btn .dir-part {
  background-color: #ffffff;
}
.header .navbar-nav li .sub-menu li .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.header.index2 .sticky .nav-item a {
  color: #081828 !important;
}
.header.index2 .sticky .nav-item a:hover {
  color: #3763eb !important;
}
.header.index2 .sticky .nav-item a.active {
  color: #3763eb !important;
}
.header.index2 .logo {
  position: relative;
  margin: 0;
  padding: 0;
  top: -16px;
}
.header.index2 .logo img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header.index2 .logo .logo1 {
  opacity: 0;
  visibility: hidden;
}
.header.index2 .navbar-nav .nav-item a {
  color: #fff;
}
.header.index2 .navbar-nav .nav-item a::before {
  background-color: #fff;
}
.header.index2 .button .btn:hover {
  background-color: #fff;
  color: #3763eb;
}
/* Index 2 */
.header.index2 .sticky .logo .logo1 {
  opacity: 1;
  visibility: visible;
}
.header.index2 .sticky .logo .logo2 {
  opacity: 0;
  visibility: hidden;
}
.header.index2 .sticky .nav-item a::before {
  background-color: #3763eb;
}
.header.index2 .navbar-nav li .sub-menu {
  border-radius: 3px;
}
.header.index2 .navbar-nav .sub-menu li a {
  color: #081828;
}
.header.index2 .navbar-nav .sub-menu li a:hover {
  color: #fff !important;
}
/* Index 4 */
.header.index4 .navbar-area {
  position: absolute;
}
.header.index4 .sticky {
  position: fixed;
  top: 0;
}
