---
layout: layouts/home.njk
permalink: /alexiscool/
eleventyNavigation:
  key: Alex is cool site
  order: 5
---

<h3>Alex is cool by the definition</h3>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
