---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Tasks
  order: 2
---

<div class="container mt-4">
  <h3>Tasks</h3>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>