<nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ metadata.title }}</a>
        <button
            class="navbar-light navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav">
                {% for entry in collections.all | eleventyNavigation %}
                <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>