<main>
    <article>
        <!-- <img src="../img/table.png" style="scale:1.0"/> -->
        <table>
            <thead>
                <tr>
                    <th width="30%">Band</th>
                    <th width="20%">Year formed</th>
                    <th width="15%">No. of albums</th>
                    <th width="35%">Most famous songs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Buzzcocks</td>
                    <td>1976</td>
                    <td>9</td>
                    <td>Ever fallen in love (with someone you shoulddn't've)</td>
                </tr>
                <tr>
                    <td>The Clash</td>
                    <td>1976</td>
                    <td>No. of albums</td>
                    <td>Most famous songs</td>
                </tr>
                <tr>
                    <td>The Damned</td>
                    <td>1976</td>
                    <td>No. of albums</td>
                    <td>Most famous songs</td>
                </tr>
                <tr>
                    <td>Sex Pistols</td>
                    <td>1975</td>
                    <td>No. of albums</td>
                    <td>Most famous songs</td>
                </tr>
                <tr>
                    <td>Sham 69</td>
                    <td>1976</td>
                    <td>No. of albums</td>
                    <td>Most famous songs</td>
                </tr>
                <tr>
                    <td>Siouxsie and the Banshees</td>
                    <td>1976</td>
                    <td>No. of albums</td>
                    <td>Most famous songs</td>
                </tr>
                <tr>
                    <td>Stiff Little Fingers</td>
                    <td>1977</td>
                    <td>No. of albums</td>
                    <td>Most famous songs</td>
                </tr>
                <tr>
                    <td>The Stranglers</td>
                    <td>1974</td>
                    <td>No. of albums</td>
                    <td>Most famous songs</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: right">Total albums</td>
                    <td colspan="2" style="text-align: left">77</td>
                </tr>
            </tfoot>
            <caption>A summary of the UK's most famous punk bands</caption>
        </table>
    </article>
</main>