---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container">
  <h3>{{ title }}</h3>

  {{ content | safe }}

  <hr>
  <ul class="list-group list-group-flush">
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}
      <li class="list-group-item">Next:
        <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
      </li>
    {% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}
      <li class="list-group-item">Previous:
        <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
      </li>
    {% endif %}
  </ul>
</div>
